@using NotesTakerApp.Core.ViewModel
@model UserViewModel

@{
    ViewData["Title"] = "Index";
}

<div>

    <p>
        Name: @Model.UserName
    </p>
    <p>
        Email: @Model.Email
    </p>
    <p>Roles:</p>
    <ul>
        @foreach (var role in Model.Roles)
        {
            <li>
                @role
            </li>
        }
    </ul>

    <form asp-controller="Account" asp-action="Logout" method="get">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</div>