@page
@using NotesTakerApp.Core.Models
@using NotesTakerApp.Core.Repositories
@model User
@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

@inject IUserRepository userRepository

@{
    var users = await userRepository.GetAllUsersAsync();
}

<h2>Create new user</h2>

<form class="row g-3" method="post" action="/Create">
    <div class="mb-1">
        <label for="name" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username">
    </div>


    <button class="btn btn-success">Create</button>
</form>

<br>

<h2>All users</h2>
@if(users == null || users.Any() == false) {
    <h3>...</h3>
}
else {
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Username</th>
                
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in users) {
                <tr>
                    <th><a href="/User/@user.Id">@user.Id</a></th>
                    <td>@user.Username</td>
                    
                    <td><button class="btn btn-danger" onclick="() => DeleteUser(@Model?.Id)">delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}